backend:
  name: git-gateway
  branch: master
media_folder: static/assets
public_folder: /assets
collections:
  - name: blogs
    label: Blog
    folder: 'src/blogs'
    create: true
    fields:
      - { name: title, label: Title }
      - { name: subtitle, label: subtitle }
      - { name: slug, label: slug }
      - { name: date, label: Date, widget: datetime }
      - { name: body, label: Body, widget: markdown }
