backend:
  name: test-repo
  repo: venuka-explorelogy/md-learning
  branch: master
media_folder: static/assets
public_folder: /assets
collections:
  - name: blog
    label: Blog
    folder: blog
    create: true
    fields:
      - { name: title, label: Title }
      - { name: subtitle, label: subtitle }
      - { name: date, label: Date, widget: datetime }
      - { name: body, label: Body, widget: markdown }